@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #b2abb5;
}

.text-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: auto;
  width: 33%;
  line-height: 24px;
  padding: 50px;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.button-container {
  font-family: 'Open Sans', sans-serif;
  margin: 1% 10%;
  width: 80%;
  height: 150px;
  padding: 10px;
  align-items: center;
  border-radius: 6px;
  border: 6px solid #33ff42;
  align-content: flex-end;
  -webkit-flex-wrap: wrap;
}

.button {
  background-color: #FF3368;
  margin: 1.1%;
  display: block;
  padding: 15px 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 27.5%;
 }

 .button:hover {
     background-color: #9b42f4;
     color: white;
 }

.big-btn:hover{
  background-color: #9b42f4;
  color: white;
}

 .big-btn {
   background-color: #2d95e5;
   margin: 10px 10px;
   display: block;
   padding: 15px 15px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   color: white;
   width: 95%;
 }

 .control-container {
   font-family: 'Open Sans', sans-serif;
   margin: auto;
   width: 60%;
   height: 250px;
   padding: 10px;
   align-items: center;
   border-radius: 6px;
   border: 6px solid #33f0ff;
 }

 .slide-container {
   align-self: flex-end;
   height: 33%;
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   padding: auto;
   margin: auto;
   float: left;
   display: block;
 }

 /* The slider itself */
 .slider {
     -webkit-appearance: none;  /* Override default CSS styles */
     appearance: none;
     transform: none;
     width: 100%; /* Full-width */
     height: 100%; /* Specified height */
     background: #ffffff; /* Grey background */
     border-radius: 5px;
     outline: none; /* Remove outline */
     opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
     -webkit-transition: .2s; /* 0.2 seconds transition on hover */
     transition: opacity .2s;
     display: block;
 }

 /* Mouse-over effects */
 .slider:hover {
     opacity: 1; /* Fully shown on mouse-over */
 }

 /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
 .slider::-webkit-slider-thumb {
     -webkit-appearance: none; /* Override default look */
     appearance: none;
     width: 25px; /* Set a specific slider handle width */
     height: 25px; /* Slider handle height */
     background: #0c69f4; /* Green background */
     cursor: pointer; /* Cursor on hover */
     border-radius: 50%;
 }

 .slider::-moz-range-thumb {
     width: 25px; /* Set a specific slider handle width */
     height: 25px; /* Slider handle height */
     background: #0c69f4; /* Green background */
     cursor: pointer; /* Cursor on hover */
 }
