<!doctype html>
<html>
<head>
  <title> Button to control the lights! </title>
  <style type="text/css">
    {%include "static/main.css"%}
  </style>
</head>
<body>
  <div class="container">
    <h1>Button to control the lights!</h1>
  </div>
  <a href="/warmwhite/" class="button big-btn"> Warm White light! </a>
  <a href="/rainbow/" class="button big-btn"> Rainbow mode! </a>
  <a href="/candle/" class="button big-btn"> Candle mode! </a>
  <a href="/mood/" class="button big-btn"> Mood mode! </a>
  <a href="/wave/" class="button big-btn"> Wave mode! </a>
</body>
</html>
