<!doctype html>
<html>
<head>
  <title> Button to control the lights! </title>
  <style type="text/css">
    {%include "static/main.css"%}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function sliderUpdate1(brightness1) {
      document.querySelector('#brightness-level-one').value = brightness1
      var plz = {value: $('#brightness-level-one').val()}
      $.post("brightness1", plz, function(plz){
        console.log(plz)
      });
    }

    function sliderUpdate2(warm1) {
      document.querySelector('#warm-level-one').value = warm1;
      var plz = {value: $('#warm-level-one').val()}
      $.post("warm1", plz, function(plz){
        console.log(plz)
      });
    };

    function sliderUpdate3(cool1) {
      document.querySelector('#cool-level-one').value = cool1;
      var plz = {value: $('#cool-level-one').val()}
      $.post("cool1", plz, function(plz){
        console.log(plz)
      });
    }
  </script>
</head>
<body>
  <div class="text-container">
    <center>
      <h1>LED-Lux Control!</h1>
      <h2>Light 1 Control</h2>
    </center>
  </div>
  <div class="control-container">
    <div class="slide-container" >
      <form name="brightness1" method="POST">
        <p>
          {{ form.brightness1.label}}
          {{ form.brightness1(min=0, max=5, oninput="sliderUpdate1(value)", class="slider") }}
         <output for="brightness1" id="brightness-level-one">{{ form.brightness1.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form name="warm1" method="POST">
        <p>
          {{ form.warm1.label}}
          {{ form.warm1(min=0, max=5, oninput="sliderUpdate2(value)", class="slider") }}
          <output for="warm1" id="warm-level-one">{{ form.warm1.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form name="cool1" method="POST">
        <p>
          {{ form.cool1.label}}
          {{ form.cool1(min=0, max=5, oninput="sliderUpdate3(value)", class="slider") }}
          <output for="cool1" id="cool-level-one">{{ form.cool1.data }}</output>
        </p>
      </form>
    </div>
  </div>
  <div class="button-container">
    <div class="flex-container">
      <a class="big-btn" href="/">MASTER</a>
    </div>
    <div class="flex-container">
      <a class="button" href="L1">L1</a>
      <a class="button" href="L2">L2</a>
      <a class="button" href="L3">L3</a>
    </div>
  </div>
</body>
</html>
