<!doctype html>
<html>
<head>
  <title> Button to control the lights! </title>
  <style type="text/css">
    {%include "static/main.css"%}
  </style>
  <script>
    function sliderUpdate1(brightness) {
      document.querySelector('#brightness-level-all').value = brightness
    }

    function sliderUpdate2(warm) {
      document.querySelector('#warm-level-all').value = warm
    }

    function sliderUpdate3(cool) {
      document.querySelector('#cool-level-all').value = cool
    }
  </script>
</head>
<body>
  <div class="text-container">
    <center>
      <h1>LED-Lux Control!</h1>
      <h2>Light 1 Control</h2>
    </center>
  </div>
  <div class="control-container">
    <div class="slide-container" >
      <form class="slide-container" href="/brightness1/">
        <p>
          {{ form.brightness.label}}
          {{ form.brightness(min=0, max=5, oninput="sliderUpdate1(value)", class="slider") }}
         <output for="brightness" id="brightness-level-all">{{ form.brightness.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form class="slide-container" href="/warm1/">
        <p>
          {{ form.warm.label}}
          {{ form.warm(min=0, max=5, oninput="sliderUpdate2(value)", class="slider") }}
          <output for="warm" id="warm-level-all">{{ form.warm.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form class="slide-container" href="/cool1/">
        <p>
          {{ form.cool.label}}
          {{ form.cool(min=0, max=5, oninput="sliderUpdate3(value)", class="slider") }}
          <output for="cool" id="cool-level-all">{{ form.cool.data }}</output>
        </p>
      </form>
    </div>
  </div>
  <div class="button-container">
    <div class="flex-container">
      <a class="big-btn" href="/">MASTER</a>
    </div>
    <div class="flex-container">
      <a class="button" href="L1">L1</a>
      <a class="button" href="L2">L2</a>
      <a class="button" href="L3">L3</a>
    </div>
  </div>
</body>
</html>
