<!doctype html>
<html>
<head>
  <title> Button to control the lights! </title>
  <style type="text/css">
    {%include "static/main.css"%}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function sliderUpdate1(brightness3) {
      document.querySelector('#brightness-level-three').value = brightness3
      var plz = {value: $('#brightness-level-three').val()}
      $.post("brightness3", plz, function(plz){
        console.log(plz)
      });
    }

    function sliderUpdate2(warm3) {
      document.querySelector('#warm-level-three').value = warm3;
      var plz = {value: $('#warm-level-three').val()}
      $.post("warm3", plz, function(plz){
        console.log(plz)
      });
    };

    function sliderUpdate3(cool3) {
      document.querySelector('#cool-level-three').value = cool3;
      var plz = {value: $('#cool-level-three').val()}
      $.post("cool3", plz, function(plz){
        console.log(plz)
      });
    }
  </script>
</head>
<body>
  <div class="text-container">
    <center>
      <h1>LED-Lux Control!</h1>
      <h2>Light 3 Control</h2>
    </center>
  </div>
  <div class="control-container">
    <div class="slide-container" >
      <form name="brightness3" method="POST">
        <p>
          {{ form.brightness3.label}}
          {{ form.brightness3(min=0, max=5, oninput="sliderUpdate1(value)", class="slider") }}
         <output for="brightness" id="brightness-level-three">{{ form.brightness3.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form name="warm3" method="POST">
        <p>
          {{ form.warm3.label}}
          {{ form.warm3(min=0, max=5, oninput="sliderUpdate2(value)", class="slider") }}
          <output for="warm3" id="warm-level-three">{{ form.warm3.data }}</output>
        </p>
      </form>
    </div>
    <div class="slide-container" >
      <form name="cool3" method="POST">
        <p>
          {{ form.cool3.label}}
          {{ form.cool3(min=0, max=5, oninput="sliderUpdate3(value)", class="slider") }}
          <output for="cool3" id="cool-level-three">{{ form.cool3.data }}</output>
        </p>
      </form>
    </div>
  </div>
  <div class="button-container">
    <div class="flex-container">
      <a class="big-btn" href="/">MASTER</a>
    </div>
    <div class="flex-container">
      <a class="button" href="L1">L1</a>
      <a class="button" href="L2">L2</a>
      <a class="button" href="L3">L3</a>
    </div>
  </div>
</body>
</html>
